
/* http://meyerweb.com/eric/tools/css/reset/
02
   v2.0 | 20110126
03
   License: none (public domain)
04
*/
05
html, body, div, span, applet, object, iframe,
06
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
07
a, abbr, acronym, address, big, cite, code,
08
del, dfn, em, img, ins, kbd, q, s, samp,
09
small, strike, strong, sub, sup, tt, var,
10
b, u, i, center,
11
dl, dt, dd, ol, ul, li,
12
fieldset, form, label, legend,
13
table, caption, tbody, tfoot, thead, tr, th, td,
14
article, aside, canvas, details, embed,
15
figure, figcaption, footer, header, hgroup,
16
menu, nav, output, ruby, section, summary,
17
time, mark, audio, video {
18
    margin: 0;
19
    padding: 0;
20
    border: 0;
21
    font-size: 100%;
22
    font: inherit;
23
    vertical-align: baseline;
24
}
25
/* HTML5 display-role reset for older browsers */
26
article, aside, details, figcaption, figure,
27
footer, header, hgroup, menu, nav, section {
28
    display: block;
29
}
30
body {
31
    line-height: 1;
32
}
33
ol, ul {
34
    list-style: none;
35
}
36
blockquote, q {
37
    quotes: none;
38
}
39
blockquote:before, blockquote:after,
40
q:before, q:after {
41
    content: '';
42
    content: none;
43
}
44
table {
45
    border-collapse: collapse;
46
    border-spacing: 0;
47
}

.box1 {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
  background: #128aa7;
  }


.box2 {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 122px;
  background: linear-gradient(to bottom, #17cee2, #fafefe);
	padding: 0px;
  }

.box3 {
	position: absolute;
	top: 196px;
	left: 0;
	right: 0;
	height: 1100px;
	background: linear-gradient(to top,#0c739f, #3ec3d1);
	padding: 0px;
  }

.footer {
  display: block;
  position: relative;
  width: 100%;
  top: 1200px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
  margin-top: 10px;
  text-align: center;
  background: #0c77a1;
  }

.box4 {
  clear: both;
  position: absolute;
  top: 24px;
  bottom: 34px;
  left: 250px;
  right: 0px;
  height: 954px;
  width: 1000px;
  background-color: white;
  z-index: 1;
  }

.logo {
  position: absolute;
  top: 0px;
	width: 100%;
	height: 150px;
	background-color: white;
  }

.logoimage {
  position: relative;
  overflow: hidden;
	height: 163.8px;
	width: 285px;
	margin-top: 35px;
	margin-left: 27px;
  float: left;
  display: inline-block;
  }

.contacts {

	height: 65px;
	width: 93.5px;
	margin-top: 10px;
	margin-right: 70px;
  float: right;
  display: inline-block;
  }

.countries {

  margin-top: 108px;
  margin-left: 670px;
  }

.image {
	position: absolute;
  top: 172px;
	width: 100%;
	height: 238px;
  }

.mainmenu {
	position: absolute;
	top: 380px;
	width: 100%;
  margin: 0px;
	height: 33px;
	background-color: black;
  }

ul.menu {
  width: 100%;
  margin: 0;
  height: 33px;
  display: block;
  padding: 5px;
  }

.menu li {
  float: left;
  font-family: sans-serif;
  font-size: 17px;
  list-style: none;
  width: auto;
  height: 33px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: left;
  }

ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
    }

ul.menu > li {
    float: left;
    position: relative;
    }

ul.menu > li > a {
    display: block;
    padding-right:30px;
    margin-left: 20px;
    color: white;
    background-color: black;
    text-decoration: none;
    }

ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 26px;
    left: 10px;
    padding: 10px;
    height: 150px;
    background-color: black;
    }

ul.submenu > li {
    display: block;
    }

ul.submenu > li > a {
    display: block;
    color: white;
    background-color: black;
    text-decoration: none;
    }

ul.menu > li:hover > ul.submenu {
    display: block;
    }

.triangle {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-size: 11px;
    margin: 0;
    padding-left: 5px;
    }

.fon {
    margin-top: 30px;
    width: 1000px;
    background: url(fon.png) repeat-y;
    float: left;
    }

.information {
    width: 190px;
    margin-left: 15px;
    float: left;
    background: #edeef0;
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    }

.contentblock {
    width: 560px;
    float: left;
    background: none;
    padding-left: 30px;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    }

.news {
    width: 190px;
    float: left;
    background: #edeef0;
    padding-left: 15px;
    font-family: sans-serif;
    font-size: 14px;
    margin-bottom: 20px;
    }

h1 {
    padding-top: 170px;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    }

.news h1 {
    margin-right: 15px;
    }
