/* http://meyerweb.com/eric/tools/css/reset/

   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



@font-face {
    font-family: 'helveticaneuecyrblack';
    src: url('helveticaneuecyr-black-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrblack_italic';
    src: url('helveticaneuecyr-blackitalic-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrbold';
    src: url('helveticaneuecyr-bold-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrbold_italic';
    src: url('helveticaneuecyr-bolditalic-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrheavy';
    src: url('helveticaneuecyr-heavy-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-heavy-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrheavy_italic';
    src: url('helveticaneuecyr-heavyitalic-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-heavyitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyritalic';
    src: url('helveticaneuecyr-italic-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrlight';
    src: url('helveticaneuecyr-light-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrlight_italic';
    src: url('helveticaneuecyr-lightitalic-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrmedium';
    src: url('helveticaneuecyr-medium-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrmedium_italic';
    src: url('helveticaneuecyr-mediumitaicl-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-mediumitaicl-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'helveticaneuecyrroman';
    src: url('helveticaneuecyr-roman-webfont.woff2') format('woff2'),
         url('helveticaneuecyr-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navigation
 {

  margin: auto;
	margin-left: 300px;
  float: left;
	background-color: #074d8a;
  width: 1214px;
	height: 60px;
  }

ul.nav {
display: inline-block;
margin-left: 400px;
margin-right: 0;
width: 360px;
height: 60px;
}

.nav {

display: inline-block;
margin-left: 150px;
padding-bottom: 30px;
width: 520px;
height: 60px;
border-right: 1px solid #56a2dc;
}

img.oferta {
	display: inline-block;
	height: 35px;
	width: 35px;
	background: #074d8a;
	padding-bottom: 40px;
  padding-top: 15px;
  padding-left: 10px;
 }

.oferta {
	display: inline-block;
	margin-left: 0px;
	padding-bottom: 30px;
	width: 110px;
	height: 60px;
	padding-left: 10px;
 }

.underlined {
	display: inline-block;
	padding-left: 15px;
	padding-bottom:  30px;
	width: 195px;
	height: 60px;
 }

li a {
	color: #4899d3;
  float: left;
  font-size: 15px;
  text-decoration: none;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 25px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: "helvetica neue";
  }

.text {
	color: white;
	float: left;
	font-size: 15px;
	list-style: none;
	padding-top: 20px;
	padding-bottom: 0px;
	padding-left: 0px;
  font-family: "helvetica neue";
  }

.nav a:hover {
	background-color: #4eabda;
	color: white;
  }

.underlined:hover {
	background: linear-gradient(to top, #2e7ac4, #4faedb);
  }

.underlined a:hover {
	text-decoration: underline;
  }

.oferta:hover {
	background: linear-gradient(to top, #2e7ac4, #4faedb);
  }

.underlined a {
	color: white;
  }

.oferta a {
	color: white;
  }

body {
	background-image: url(img/homework5.png) /*50% 0 no repeat*/;
  }

#wrapper {
  width: 1200px;
	margin:  auto;
	margin-left: 300px;
  }

header {
  min-width: 1200px;
  }

.content {
	position: absolute;
	top: 272px;
	left: 652px;
	z-index: 1;
	height: 613px;
	width: 560px;
	background-color: rgba(000, 0, 0, 0.7);
  }

.cadastre-se {

	width: 560px;
	height: 50px;
	padding-top: 15px;
	border-bottom: 3px solid gray;
  }

h1 {
  color: #f3f3f2;
  font-size: 30px;
  text-align: center;
  }

.F {
  position: absolute;
  top: 100px;
  left: 160px;
  display: inline-block;
  float: left;
  color: white;
  width: 50px;
  height: 40px;
  background: linear-gradient(to top, #2f487e, #3c5597);
  border-right: 2px solid white;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 1px solid #7889b5;
  }

.LoginFB {
  clear: both;
  float: left;
  position: absolute;
  top: 100px;
  left: 196px;
  float: left;
  color: white;
  width: 230px;
  height: 40px;
  display: inline-block;
  background: linear-gradient(to top, #2f487e, #3c5597);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top: 1px solid #7889b5;
  border-left: 1px solid #7889b5;
  }

.F a {
  position: absolute;
  top: 5px;
  color: white;
  text-decoration: none;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  font-family: "helvetica neue";
  padding-left: 15px;
  }

.LoginFB a {
  position: absolute;
  top: 5px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 5px;
  font-weight: 500;
  text-align: center;
  font-family: "helvetica neue";
  }

.line1 {
	 clear: both;
	 float: left;
	 display: inline-block;
	 position: absolute;
	 top: 170px;
	 left: 160px;
	 width: 105px;
	 height: 2px;
	 }

.line2 {
		clear: both;
		float: left;
		display: inline-block;
		position: absolute;
		top: 170px;
		left: 310px;
		width: 115px;
	  height: 2px;
		}

.lineleft {

	  width: 105px;
	  height: 1px;
	  background-color: #666666;
	  border-bottom: 1px solid black;
	  }

.ou {
   clear: both;
	 display: inline-block;
	 float: left;
	 position: absolute;
	 top: 160px;
	 left: 272px;
	 color: #999999;
	 font-size: 20px;
   }

.lineright {
   width: 115px;
	 height: 1px;
	 background-color: #666666;
	 border-bottom: 1px solid black;
   }

form {
   position: absolute;
   top: 190px;
   left: 160px;
   }

input {
	 display: block;
	 margin-top: 15px;
	 height: 35px;
	 width: 250px;
	 background: black;
	 border: none;
	 padding-left: 20px;
	 border-bottom: 1px solid #4a4a48;
	 font-family: "helvetica neue";
	 color: white;
   }

form input:hover {
	 background-color: #1b5288;
	 border-bottom: 1px solid #699bcd;
	 box-shadow: 0 0 10px rgba(74,135,175,1);
   }

.checkbox {
	 position: absolute;
	 top: 460px;
	 left: 160px;
   }

.checkbox input {
	 width: 10px;
   height: 10px;
	 border: 1px solid gray;
	 outline: 1px solid white;
   }



label {
	 position: absolute;
	 top: 10px;
	 left: 20px;
	 color: #cccccc;
	 width: 250px;
	 height: 10px;
	 font-family: "helvetica neue";
	 opacity: 0.7;
   }

.button {
	 position: absolute;
	 top: 500px;
	 left: 200px;
	 width: 150px;
	 height: 30px;
	 color: white;
   }

.button input {
	 color: #ffffff;
	 background: linear-gradient(to top,#2e7ac4,#4faddb);
	 border-bottom: 1px solid #699bcd;
	 box-shadow: 0 0 10px rgba(74,135,175,1);
	 width: 150px;
	 height: 30px;
	 padding: 1px 6px 1px 6px;
	 border-radius: 3px;
	 }

	footer {
   position: absolute;
   top: 560px;
   left: 100px;
   right: 100px;
   color: #cccccc;
   text-align: center;
   font-size: 14px;
   opacity: 0.7;
   }
